
 <%- include ('../common/head.ejs') %>
 <header>
     <div class="wrapper">
       <%- include ('../common/user2/navbar2.ejs') %>
         <div class="content-wrapper">
             <div class="content-header">
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-sm-12 offset-md-2 col-md-8">
                             <div class="jumbotron">
                                 <h2 class="text-center">add device leader</h2>
                                 <div class="row">
                                     <div class="col-sm-12 col-md-12">
                                        
                                             <div class="formgroup">
                                               <label class="small mb-1 mt-3">DEVICE EUI:</label>
                                               <input class="form-control" placeholder="Please enter DEVICE EUI" required="required" name="device_eui" value=""id="device_eui" />
                                               <label class="small mb-1 mt-3">Place:</label>
                                               <input class="form-control" placeholder="Please enter name Place" required="required" name="position" value="" id="position" />
                                               <label class="small mb-1 mt-3">Click to latitude and longitude:</label>
                                               <input type="button" value="Get Location" onclick="getLocationConstant()" />
                                               <br>
                                               <label class="small mb-1 mt-3">latitude:</label>
                                               <input class="form-control" placeholder="Please enter latitude" required="required" id ="latitude" name="latitude" type="text" value="" />
                                               <label class="small mb-1 mt-3">longitude:</label>
                                               <input class="form-control" placeholder="Please enter longitude" required="required" id="longitude" name="longitude" type="text" value="" />
                                               <br>
                                               <button class="mt-3 btn btn-primary" type="submit" onclick="check_add_device('<%=user.email%>','<%=user.rank%>','<%=user.place%>')" >add DEVICE</button>
                                             </div>
                                       
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </header>
<script>
function getLocationConstant() {
 if (navigator.geolocation) {
     navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
 } else {
     alert("Your browser or device doesn't support Geolocation");
 }
 }

 // If we have a successful location update
 function onGeoSuccess(event) {
     document.getElementById("latitude").value = event.coords.latitude;
    document.getElementById("longitude").value = event.coords.longitude;

 }

 // If something has gone wrong with the geolocation request
 function onGeoError(event) {
     alert("Error code " + event.code + ". " + event.message);
 }
</script>
<script>
    
  $(function(){
      
      var socket = io();
      socket.on('alert_one', function(msg){
          console.log(msg.device_eui)
          Swal.fire({
          icon: 'error',
          title: 'มีการผ่าน sensor หรือ ตรวจพบMac Wifi',
          text: '   อุปกรณ์   '+msg.device_eui+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
          footer: '<a href>โปรดระวังตัว</a>'
          })
          var audio = new Audio('../sound/sound.wav');
              audio.play();
      });
      
      socket.on('end_send', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่งรูปสำเร็จ',
          })
      });
      socket.on('end_sendsound', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่งเสียงสำเร็จ',
          })
      });
      socket.on('end_sendwifi', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่ง Mac Wifi สำเร็จ',
          })
      });

      socket.on('alert_cctv', function(msg){
          console.log(msg)
          Swal.fire({
          icon: 'error',
          title: 'พบคนแปลกหน้า',
          text: '   ชื่ออุปกรณ์   '+msg.name+'   IP   '+msg.ip_port+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
          footer: '<a href>พบคนแปลกหน้า</a>'
          })
          var audio = new Audio('../sound/sound.wav');
          audio.play();
      });
  });
</script>
<script src="/ajax/user2_checkdata.js"></script>
<%- include ('../common/footer.ejs') %>





<!-- doctype html
html(lang='en')
include ../common/head.pug
+head("Sign up to Starter MVP")
body
header
 div.wrapper
   include ../common/admin/navbaradmin.pug
   +navbar(user)
   .content-wrapper
     .content-header
       .container-fluid
         .row
           .col-sm-12.offset-md-2.col-md-8
             .jumbotron 
               h2.text-center add sensor admin
               .row
                 .col-sm-12.col-md-12
                   form(action='/admin_signup', method='POST')
                     div.formgroup
                       label.small.mb-1.mt-3 name sensor:
                       input(placeholder='Please enter name seonsor', required=true, name='namesensor', value="").form-control
                       label.small.mb-1.mt-3 latitude:
                       input(placeholder='Please enter latitude',required=true, name='latitude',type='text' ,value='').form-control
                       label.small.mb-1.mt-3 longitude:
                       input(placeholder='Please enter longitude',required=true, name='longitude', type='text', value='').form-control
                       button.mt-3.btn.btn-primary(type='submit') add sensor

include ../common/footer.pug
+footer() -->
