
<%- include ('../common/head.ejs') %>
  <div class="wrapper">
    <%- include ('../common/user2/navbar2.ejs') %>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 offset-md-2 col-md-8">
                        <div class="jumbotron">
                            <h2 class="text-center">add user for leader</h2>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                  FIRST UP VIDEO YOUR FACE 
                                  <label class="small mb-1 mt-3">Video</label>
                                  <form method="POST" action="/upload" enctype="multipart/form-data">
                                    <label small.mb-1.mt-3="small.mb-1.mt-3">Name : </label>
                                    <input type="text" name="name" required="required" />
                                    <input type="file" name="file" required="required" /><br />
                                    <input type="submit" name="uploadimage" value="Upload Video" />
                                    <br /><br />
                                  </form>
                                    <form action="/user2_signup" method="POST">
                                        <div class="formgroup">
                                          <label class="small mb-1 mt-3">Email:</label>
                                          <input class="form-control" placeholder="Please enter your email" required="required" name="email" type="email" />
                                          <%if(errors && errors.email){ %>
                                            <p class="small text-danger"><%=errors.email%></p> 
                                          <%}%>
                                          <label class="small mb-1 mt-3">Password:</label>
                                          <input class="form-control" placeholder="New Password" required="required" name="password" type="password" value="" />
                                          <%if(errors && errors.password){ %>
                                            <p class="small text-danger"><%=errors.password%></p> 
                                          <%}%>
                                          <label class="small mb-1 mt-3">firstname:</label>
                                          <input class="form-control" placeholder="New firstname" required="required" name="firstname" type="text" value="" />
                                          <label class="small mb-1 mt-3">lastname:</label>
                                          <input class="form-control" placeholder="New lastname" required="required" name="lastname" type="text" value="" />
                                          <label class="small mb-1 mt-3">PHONE NUMBER:</label>
                                          <input class="form-control" placeholder="phone number" required="required" name="phonenumber" type="text" value="" />
                                          <label class="small mb-1 mt-3">SIM NUMBER:</label>
                                          <input class="form-control" placeholder="sim number" required="required" name="simnumber" type="text" value="" />
                                          <label class="small mb-1 mt-3">rank:</label>
                                          <select class="form-control" name="rank" id="rank" >
                                                <option value="Leader" selected="selected">Leader </option>
                                                <option value="Soldier" selected="selected">Soldier</option> 
                                          </select>
                                          <label class="small mb-1 mt-3">Base:</label>
                                          <select class="form-control" name="place" id="place">
                                            <% if(data_place){
                                              
                                              var i = 1;
                                              var x;
                                              var z;
                                              data_place.forEach(function(data1){
                                                if(data1.id == user.place){
                                                  x= data1.place
                                                  z = data1.id
                                                }
                                              })
                                              %>
                                                <option value="<%=z%>" selected="selected"><%=x%></option>
                                              <%}%>
                                          </select>
                                          
                                          <button class="mt-3 btn btn-primary" type="submit">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
  $(function(){
      
      var socket = io();
      socket.on('alert_one', function(msg){
          console.log(msg.device_eui)
          Swal.fire({
          icon: 'error',
          title: 'มีการผ่าน sensor หรือ ตรวจพบMac Wifi',
          text: '   อุปกรณ์   '+msg.device_eui+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
          footer: '<a href>โปรดระวังตัว</a>'
          })
          var audio = new Audio('../sound/sound.wav');
              audio.play();
      });
      
      socket.on('end_send', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่งรูปสำเร็จ',
          })
      });
      socket.on('end_sendsound', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่งเสียงสำเร็จ',
          })
      });
      socket.on('end_sendwifi', function(msg){
          Swal.fire({
          icon: 'success',
          title: 'ส่ง Mac Wifi สำเร็จ',
          })
      });

      socket.on('alert_cctv', function(msg){
          console.log(msg)
          Swal.fire({
          icon: 'error',
          title: 'พบคนแปลกหน้า',
          text: '   ชื่ออุปกรณ์   '+msg.name+'   IP   '+msg.ip_port+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
          footer: '<a href>พบคนแปลกหน้า</a>'
          })
          var audio = new Audio('../sound/sound.wav');
          audio.play();
      });
  });
</script>
<%- include ('../common/footer.ejs') %>



