
<%- include ('../common/head.ejs') %>
  <div class="wrapper">
    <%- include ('../common/user2/navbar2.ejs') %>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md" align="center">
                        <h1>show log leader</h1>
                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">time</th>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Base</th>
                                    <th scope="col">log</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data){
                                    var z;
                                    var i=1;
                                    data.forEach(function(data1){ 
                                        data_place.forEach(function(data_place1){
                                            if(data1.place == data_place1.id){
                                                 z = data_place1.place;
                                            }
                                           })
                                %>
                                <tr>
                                    <td><%=i++%></td>
                                    <td><%= data1.email%></td>
                                    <td><%=data1.updatedAt.toString().substring(0,25)%></td>
                                    <td><%= data1.rank%></td>
                                    <td><%= z%></td>
                                    <td><%= data1.log%></td>
                                  
                                </tr>
                                    <%}) %>
                                <%} %> %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.2/jsmpg.min.js"></script>
<script>
    
    $(function(){
        
        var socket = io();
        socket.on('alert_one', function(msg){
            console.log(msg.device_eui)
            Swal.fire({
            icon: 'error',
            title: 'มีการผ่าน sensor หรือ ตรวจพบMac Wifi',
            text: '   อุปกรณ์   '+msg.device_eui+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
            footer: '<a href>โปรดระวังตัว</a>'
            })
            var audio = new Audio('../sound/sound.wav');
                audio.play();
        });
        
        socket.on('end_send', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่งรูปสำเร็จ',
            })
        });
        socket.on('end_sendsound', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่งเสียงสำเร็จ',
            })
        });
        socket.on('end_sendwifi', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่ง Mac Wifi สำเร็จ',
            })
        });

        socket.on('alert_cctv', function(msg){
            console.log(msg)
            Swal.fire({
            icon: 'error',
            title: 'พบคนแปลกหน้า',
            text: '   ชื่ออุปกรณ์   '+msg.name+'   IP   '+msg.ip_port+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
            footer: '<a href>พบคนแปลกหน้า</a>'
            })
            var audio = new Audio('../sound/sound.wav');
            audio.play();
        });
    });
</script>
<script src="/ajax/checkdata.js"></script>
<%- include ('../common/footer.ejs') %>



<!-- doctype html
html(lang='en')
 include ../common/head.pug
 +head("Military Base")
 body
  header
   
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    script(type='text/javascript').
        const Toast = Swal.mixin({
        showConfirmButton: true,
        timer: 2000
        })
   style
    include ../../public/stylesheets/style.css
   div.wrapper
    include ../common/user2/navbar2.pug
    +navbar(user)
    .content-wrapper
     .content-header
      .container-fluid
       .row
        .col
         table(align="center")
          tbody
           tr
            td
             form(method='POST',action='http://158.108.168.11:9997/upload', enctype='multipart/form-data')
              label(small.mb-1.mt-3) Name  :  
              input(type="text",name="name",required)
              input(type="file", name="file",required)
              br
              input(type='submit', name="uploadimage", value='Upload Video')
              br
              br
        .col
         table(align="center")
          tbody
           tr
            td
             form()
              h1 Check Data
              button(type ="submit",id="check_data" ) Check
       .row
        .col-md(align="center")
         h1 SHOW LOG 
         table.table
          thead
           tr
            th(scope="col") Email
            th(scope="col") time
            
            
           tr
          tbody
           if data
            for data1 in data
             tr
              td
               h6 #{data1.email}
              td
               h6 #{data1.updatedAt}
              




  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsmpeg/0.2/jsmpg.min.js")
  include ../common/footer.pug
  +footer()


  script(src='/ajax/login_admin.js') -->
   

    

