<%- include ('../common/head.ejs') %>
  <header>
      <div class="wrapper">
        <%- include ('../common/user1/navbar1.ejs') %>
          <div class="content-wrapper">
              <div class="content-header">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-12 offset-md-2 col-md-8">
                              <div class="jumbotron">
                                  <h2 class="text-center">add camera CCTV Soldier</h2>
                                  <div class="row">
                                      <div class="col-sm-12 col-md-12">
                                    
                                              <div class="formgroup">
                                                  <label class="small mb-1 mt-3">name camera:</label>
                                                  <input class="form-control" placeholder="Please enter your name camera" required name="name" id="name"type="text" value="">
                                                  <label class="small mb-1 mt-3">IP</label>
                                                  <input class="form-control" placeholder="Please enter IP and PORT camera 158.108.1.2:554 " required name="name" id="ip_port"type="text" value="">
                                                  <label class="small mb-1 mt-3">user:</label>
                                                  <input class="form-control" placeholder="Please enter USER camera" required name="user" id="user" type="text" value="">
                                                  <label class="small mb-1 mt-3">Password:</label>
                                                  <input class="form-control" placeholder="Please enter PASSWORD camera" required name="Password" id="password" type="password" value="">
                                                  <label class="small mb-1 mt-3">Place:</label>
                                                  <input class="form-control" placeholder="Please enter place" required name="Position"  id ="position" type="text" value="">
                                                  <label class="small mb-1 mt-3">Click to latitude and longitude:</label>
                                                  <input type="button" value="Get Location" onclick="getLocationConstant()" />
                                                  <label class="small mb-1 mt-3">latitude:</label>
                                                  <input class="form-control" placeholder="Please enter latitude" required name="latitude"  id ="latitude" type="text" value="">
                                                  <label class="small mb-1 mt-3">longitude:</label>
                                                  <input class="form-control" placeholder="Please enter longitude" required name="longitude" id="longitude" type="text" value="">
                                                  <button class="mt-3 btn btn-primary" type="submit" onclick="check_add_cctv('<%=user.email%>','<%=user.rank%>','<%=user.place%>')" >add camera</button>
                                                </div>
                                                
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <script src="/ajax/user1_checkdata.js"></script>
  <script>
    
    $(function(){
        
        var socket = io();
        socket.on('alert_one', function(msg){
            console.log(msg.device_eui)
            Swal.fire({
            icon: 'error',
            title: 'มีการผ่าน sensor หรือ ตรวจพบMac Wifi',
            text: '   อุปกรณ์   '+msg.device_eui+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
            footer: '<a href>โปรดระวังตัว</a>'
            })
            var audio = new Audio('../sound/sound.wav');
                audio.play();
        });
        
        socket.on('end_send', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่งรูปสำเร็จ',
            })
        });
        socket.on('end_sendsound', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่งเสียงสำเร็จ',
            })
        });
        socket.on('end_sendwifi', function(msg){
            Swal.fire({
            icon: 'success',
            title: 'ส่ง Mac Wifi สำเร็จ',
            })
        });

        socket.on('alert_cctv', function(msg){
            console.log(msg)
            Swal.fire({
            icon: 'error',
            title: 'พบคนแปลกหน้า',
            text: '   ชื่ออุปกรณ์   '+msg.name+'   IP   '+msg.ip_port+'  latitune   '+ msg.latitude + '   longitune   ' + msg.latitude+ '   สถานที่   '+ msg.position,
            footer: '<a href>พบคนแปลกหน้า</a>'
            })
            var audio = new Audio('../sound/sound.wav');
            audio.play();
        });
    });
</script>
  <script>
    
    function getLocationConstant() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
      } else {
          alert("Your browser or device doesn't support Geolocation");
      }
      }
     
      // If we have a successful location update
      function onGeoSuccess(event) {
          document.getElementById("latitude").value = event.coords.latitude;
         document.getElementById("longitude").value = event.coords.longitude;
     
      }
     
      // If something has gone wrong with the geolocation request
      function onGeoError(event) {
          alert("Error code " + event.code + ". " + event.message);
      }
  </script>
<%- include ('../common/footer.ejs') %>


<!-- doctype html
html(lang='en')
  include ../common/head.pug
  +head("Sign up to Starter MVP")
  body
    header
      div.wrapper
        include ../common/admin/navbaradmin.pug
        +navbar(user)
        .content-wrapper
          .content-header
            .container-fluid
              .row
                .col-sm-12.offset-md-2.col-md-8
                  .jumbotron 
                    h2.text-center add camera admin
                    .row
                      .col-sm-12.col-md-12
                        form(action='/admin_signup', method='POST')
                          div.formgroup
                            label.small.mb-1.mt-3 select camera:
                            select(name='camera', id='').form-control
                              option(value='cctv', selected= true) CCTV 
                              option(value='webcam', selected= true) WEB CAM 
                            label.small.mb-1.mt-3 name camera:
                            input(placeholder='Please enter your email', required=true, name='name', type='text', value='').form-control
                            label.small.mb-1.mt-3 IP number:
                            input(placeholder='Please enter IP camera', required=true, name='name', type='text', value='').form-control
                            label.small.mb-1.mt-3 latitude:
                            input(placeholder='Please enter latitude',required=true, name='latitude', type='text', value='').form-control
                            label.small.mb-1.mt-3 longitude:
                            input(placeholder='Please enter longitude',required=true, name='longitude', type='text', value='').form-control
                            button.mt-3.btn.btn-primary(type='submit') add camera

    include ../common/footer.pug
    +footer() -->